<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Campground:</strong>
  <%= @review.campground %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @review.picture %>
</p>

<p>
  <strong>Review content:</strong>
  <%= @review.review_content %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
